<%- include('template/sidebar'); %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
    <main class="content">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-6">
                    <h1 class="h3 mb-3"><strong>Reservaciones</strong></h1>
                </div>
                <div class="col-6">
                    <a href="" class="btn btn-primary float-end mt-n1" id="agregar-reservacion">
                        <i class="align-middle" data-feather="plus"></i> Nueva reservación</a>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalReservacion" tabindex="-1" aria-hidden="false">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Resumen de la reservación!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body m-3">
                            <table class="table table-sm mt-2 mb-4">
                                <tbody>
                                    <tr>
                                        <th>Check-in</th>
                                        <td id="checkin"></td>
                                    </tr>
                                    <tr>
                                        <th>Check-out</th>
                                        <td id="checkout"></td>
                                    </tr>
                                    <tr>
                                        <th>Huesped</th>
                                        <td id="huesped"></td>
                                    </tr>
                                    <tr>
                                        <th>Habitacion</th>
                                        <td id="habitacion"></td>
                                    </tr>
                                    <tr>
                                        <th>Precio</th>
                                        <td id="precio"></td>
                                    </tr>
                                    <tr>
                                        <th>Noches</th>
                                        <td id="noches"></td>
                                    </tr>
                                    <tr>
                                        <th>Adultos</th>
                                        <td id="adultos"></td>
                                    </tr>
                                    <tr>
                                        <th>Niños</th>
                                        <td id="ninos"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-success" id="aceptar-reservacion"
                            data-bs-dismiss="modal" onclick="saveReservation()">Reservar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalHabitaciones" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Seleccione una habitación!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body m-3">
                            <table id="tabla-habitaciones" class="table stripe hover compact" style="width:100%">
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-danger" id="aceptar-habitacion"
                                data-bs-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalHuespedes" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Seleccione un husped!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body m-3">
                            <table id="tabla-huespedes" class="table stripe hover compact" style="width:100%">
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-danger" id="aceptar-huesped"
                                data-bs-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <br><br>
                <div class="col-xl-12 panel-info-none" id="panel-reservacion">
                    <div class="card">
                        <div class="card-header">
							<div class="card-actions float-end">
								<div class="dropdown position-relative">
									<a href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" class="">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
											<circle cx="12" cy="12" r="1"></circle>
											<circle cx="19" cy="12" r="1"></circle>
											<circle cx="5" cy="12" r="1"></circle>
										</svg>
									</a>
									<div class="dropdown-menu dropdown-menu-end">
										<a class="dropdown-item" href="#" onclick="cerrarPanel()">Cerrar</a>
									</div>
								</div>
							</div>
							<h5 class="card-title mb-0" id="ver-numero-habitacion">Nueva reservación</h5>
						</div>
                        <div class="card-body">
                                <form class="row gx-3 gy-2 align-items-center needs-validation" id="reservacion-formulario" novalidate>
                                    <div class="col-auto">
                                        <label for="fechas" class="form-label">Fechas de reservación</label>
                                        <div class="input-group has-validation">
                                            <input id="fechas" type="text" name="datefilter" autocomplete="off" value="" required/>
                                            <span class="input-group-text"><i class="fa fa-calendar"
                                                    aria-hidden="true"></i></span>
                                                    <div class="invalid-feedback">
                                                        Ingresa una fecha.
                                                    </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3"data-bs-toggle="modal" data-bs-target="#modalHuespedes">
                                        <label for="huespedText" class="form-label">Huesped</label>
                                        <div class="input-group has-validation">
                                            <input type="text" class="form-control" id="huespedText" autocomplete="off" placeholder="Nombre..." required style="cursor: pointer;">
                                            <div class="input-group-text" style="cursor: pointer;">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </div>
                                            <div class="invalid-feedback">
                                                Escoja un huesped.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" data-bs-toggle="modal" data-bs-target="#modalHabitaciones">
                                        <label for="habitacionText" class="form-label">Habitación</label>
                                        <div class="input-group ">
                                            <input type="text" class="form-control" id="habitacionText" autocomplete="off" placeholder="Número habitación..."  style="cursor: pointer;" required>
                                            <div class="input-group-text" style="cursor: pointer;">
                                                <i class="fa fa-bed" aria-hidden="true"></i></i>
                                            </div>
                                            <div class="invalid-feedback">
                                                Ingresa una habitación.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <label for="numAdultos" class="form-label">Adultos</label>
                                        <label class="visually-hidden" for="specificSizeSelect">Preference</label>
                                        <select class="form-select" id="numAdultos">
                                            <option selected="">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <label for="numNinos" class="form-label">Ninos</label>
                                        <label class="visually-hidden" for="specificSizeSelect">Preference</label>
                                        <select class="form-select" id="numNinos">
                                            <option selected="">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                    <div class="col-auto">
                                        <br>
                                        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i>Reservar</button>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12" id="contenido-reservaciones">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h5 class="card-title mb-0">Reservaciones</h5>
                        </div>
                        <div class="card-body">
                            <table id="tabla-reservaciones" class="table table-hover" style="width:100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="js/datatables.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="js/reservaciones.js"></script>
    <%- include('template/footer'); %>